/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  margin: 0 auto;
}

h1 { margin-bottom: 1em; }
p { margin: 0.5em 0; }

a:link, a:visited, a:active { color: black; text-decoration: none; border-bottom: 1px solid black;}
a:hover   { color: black; text-decoration: none; border-bottom: 1px solid #ea6f62; }

/* Site */

body { 
  font-size:100%;
  line-height:1.5;
  color: #000;
  background-color: #F8F8F8;
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2.28571em; padding:0.2em 0;}
  header h1 { font-size: 1.3em; line-height: 0.1em}
h2 { font-size:1.71429em; padding:0.8em 0; }
h3 { font-size:1.14286em; padding:0.05em 0; }

h1 a:link,
h1 a:active,
h1 a:visited,
h1 a:hover {
  color: black;
  border-bottom: none;
}

header {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #ea6f62;
  color: #3A3A3A;
  background-image: url('img/header.jpg');
  height: 220px;
}
  .header {
     border: 3px solid black;
     width: 40%;
     margin: 0 auto;
     margin-top: 50px;
     padding: 30px;
  }

.wrap { max-width: 800px; }

.main,
.single {
  margin: 0 auto;
}

  .single { text-align: center; }

.photo-block {
  width: 100%;
  overflow: auto;
  margin-top: 20px;
}

.main .photo {
  width: 31%;
  padding: 0;
  margin: 0 7px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}

  @media screen and (max-width: 760px) {
      .main .photo {
        width: 49%;
        margin: 0 0 20px 0;
      }
  }

  @media screen and (max-width: 550px) {
      .main .photo {
        width: 100%;
      }
  }

  .photo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 3px solid #000;
  }

  .photo p {
    line-height: 1.2em;
  }

  .main .title {
    font-weight: bold;
  }

  .main .date,
  .main .share {
    font-size: 80%;
  }

  .date { font-weight: normal; }

.paginate {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
}
  .previous { float: left; }
  .next { float: right; }

footer {
  position: relative;
  clear: both;
  width: 100%;
  text-align: center;
  background-color: #ea6f62;
  color: #3A3A3A;
  padding: 10px 0;
  font-size: 80%;
}